@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #050505;
  color: white;
  overflow-x: hidden;
}

::selection {
  background: rgba(34, 211, 238, 0.3);
}

body::before {
  content: "";

  position: fixed;
  inset: 0;

  background:
    radial-gradient(
      circle at 20% 20%,
      rgba(34,211,238,0.08),
      transparent 35%
    ),
    radial-gradient(
      circle at 80% 60%,
      rgba(34,211,238,0.05),
      transparent 40%
    );

  pointer-events: none;
  z-index: -1;
}

